@media print {


.content {
	display: none;
}
	.sideBar * {
		display: none;
	}

	header {
		display: block;
	}

		.printer *{
			display: none;
		}

		.avatar {
			display: none;
		}
		.timeLine a {
			color: black;
		}
		.timeLine i {
			display: none;
		}

	.impression {
		display: block !important;
		width: auto;
		height: auto;
		overflow: visible;
		margin-top: 250px;
	}
		
		.impression table {
			page-break-after: always;
			border-collapse: collapse;
			margin-top: 50px;
			margin-bottom: 50px;
		}

		.impression td {
			width: 100px;
			border: 1px solid black;
			padding: 5px;
		}
		
		.imprPlan {
			margin-top: 250pt;
			transform: rotate(90deg);
			width: 140%;
			
		}

		.plan .addPlace, .plan .trash {
			display: none;
		}

		.plan .numEmplacement {
			font-size: 12px;
			visibility: visible;
		}

		span.titresImpression {
			display: block;
			text-align: center;
			padding: 10px;
			font-size: 24px;
			text-transform: uppercase;
		} 

}