@font-face{
    font-family : "Roboto";
    src : url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.impression {
	display: none;
	font-size: 12px;
}

/*.ion-android-close {
	line-height: 0px !important;
}*/

a {
	text-decoration: none;
	color: #fff;
}

li,ul {
	list-style: none;
}


a.button {
	background-color: #0A2675;
	height: 40px;
	padding: 5px 20px;
	border-radius: 40px;

}

a.button:hover {
	color:#0A2675;
	background-color: #fff;
}

body {
	font-size: 0;
	font-family: 'Roboto', sans-serif;

}

button {
	background-color: #0A2675;
	color: #fff;
	/*min-width: 180px;*/
	/*padding: 5px 15px;*/
	border: none;
	outline: none;
	border-radius: 30px;
	text-align: center;
	/*box-shadow: 3px 3px 3px #444;*/

}

button:hover {
	cursor: pointer;
	background-color: #fff;
	color: #0A2675;

}

.container {
	position: absolute;
	z-index: -1;
	bottom: 0;
	top: 0px;
	left: 15%;
	right: 0;
	display: inline-block;
	width: 85%;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;

}

.overlay {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #333;
	opacity: 0.7;
	overflow: auto;
}
.overlay:hover {
	cursor: pointer;
}


/*<<<<<<<<<<<<<<<<  HEADER >>>>>>>>>>>>>>*/
header {
	/*margin-left: 15%;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 16px;
	height: 130px;
	background-color: #eee;
	/*overflow: auto;*/
}
	.avatar	{
		position: relative;
		float: left;
		width: 80px;
		height: 80px;
		background-color: #0A2675;
		color: #fff;
		font-size: 24px;
		text-align: center;
		/*padding-top: 20px;*/
		line-height: 80px;
	}


			.avatar span {
				width: 100%;
				height: auto;
				display: block;
				position: absolute;
				top: -30px;
				left: 0px;
				font-size: 12px;
			}

		.logo-out {
			position: absolute;
			display: block;
			font-size: 1.2em;
			top: 28px;
			bottom: 0;
			right: 3px;
			
		}

	.timeLine {
		padding-top: 20px;
		padding-right: 20px;
		/*float: right;*/
		/*display: inline-block;*/
		/*vertical-align: top;*/
		/*width: 250px;*/
	}

		.timeLine ul li {
			padding: 10px;
		}
		.timeLine ul li span {
			width: 250px;
		}

	.expoInfo {
		/*display: inline-block;*/
	}
		.expoInfo h2 {
			margin-left: 50px;
			/*text-align: center;*/
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.expoInfo span {
			display: block;
			margin-left: 50px;
		}
		
		.printer {
			display: inline-block;
			margin-left: 15px;
		}
		.printer i {
			font-size: 3em;
			padding: 20px 15px;
		}
/*<<<<<<<<<<<<<<<<  MENUEXPO >>>>>>>>>>>>>>*/
	.sideBar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		vertical-align: top;
		font-size: 16px;
		width: 15%;
		background-color: #444;
		color: #fff;
		text-align: center;
	}

		

		.homeLogo {
			display: block;
			font-size: 4em;
			padding-bottom: 30px;
		}
		.homeLogo i:hover {
			cursor:pointer;
		}

		.sideMenu {
			
		}

			.flecheHor {
				display: none;
			}
			.flecheVert {
				width: 40px;
				height: 40px;
				font-size: 4em;
			}

			.flecheHor:hover {
				cursor: pointer;
			}
			.flecheVert:hover {
				cursor: pointer;
			}
			

				.sideMenu li {
					padding: 30px 0 ;
				}

			.link-active {
				background-color: #bbb;

			}
			a.active-expo {
				display: block;
				padding: 20px 0;
				background-color: #fff;
				color: #444;
			}

			
			.addLogo  {
				position: relative;
				display: block;
				font-size: 4em;
				padding-top: 40px;

			}
			.addLogo i:hover {
				cursor:pointer;
			}

				.context-add {
					position: absolute;
					text-align: left;
					z-index: -1;
					top: -21px;
					left: -100%;
					width: 200px;
					/*padding: 10px;*/
					font-size: 16px;
					background-color: rgba(0,0,0,0.7);
					color: #fff;
					transition: all 0.5s ease-out;
				}

					.context-add-visible {
						left: 100%;
					}

					.context-add span {
						display: block;
						padding: 10px;
					}

					.context-add span:hover {
						cursor: pointer;
						background-color: #ccc;
						color: #333;
					}


/*<<<<<<<<<<<<<<<<  ONGLETS >>>>>>>>>>>>>>*/
.content {
	position: relative;
	top: 0;
	bottom: 100px;
	/*position: relative;
	left: 0;
	right: 0;
	top: -30px;
	bottom: 0;*/
}
.onglet	{
	position: relative;
	top: -30px;
	/*float: left;*/
	/*text-align: center;*/
}

	.onglet-title {
		float: left;
		width: 100px;
		height: 30px;
		line-height: 30px;
		color: #fff;
		background-color: #0A2675;
		text-align: center;
		border-left: 1px solid #fff;

	}
		.onglet-title i {
			margin-right: 5px;
			font-size: 1.2em;
		}
	.onglet-title:hover {
		cursor: pointer;
		background-color: #fff;
		color: #0A2675;
		border-left: 1px solid #0A2675;
	}
	.onglet:first-child {
		border: none;
	}
	.onglet-actif .onglet-title {
		background-color: #fff;
		color: #0A2675;

	}

	.onglet-content {
		position: absolute;
		top: 30px;
		width: 100%;
		/*height: 800px;*/
		display: none;
		text-align: center;
		font-size: 0;


	}


	.onglet-actif .onglet-content {
		display: block;
		/*overflow-y: scroll;*/
		/*overflow-x: hidden;*/
	}
		
		

/*<<<<<<<<<<<<<<<<  STATISTIQUES >>>>>>>>>>>>>>*/
.stat {
	font-size: 0px;
	padding: 20px;
}
	.stat-content {
		padding-top: 30px;
	}
		.imgStat {
			display: inline-block;
			width: 25%;
			font-size: 16px;
		}
			.imgStat img {
				width: 100%;
				height: auto;
			}
		.explain {
			font-size: 16px;
			display: inline-block;
			vertical-align: top;
			width: 75%;
			text-align: left;
			padding: 15px;

		}
/*<<<<<<<<<<<<<<<<  EXPO / ADMIN >>>>>>>>>>>>>>*/
.containerAdmin {
	display: flex;
	justify-content: space-around;

}

	.afficheUser {
		font-size: 16px;
		flex-basis: 25%;
		margin-top: 50px;
		background-color: #fff;
		min-height: 500px;
		border-radius: 2px;
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    	overflow-y: auto;
    	padding: 15px;
	}

		.afficheUser li a {
			text-transform: capitalize;
			display: block;
			color: #333;
			padding: 15px;
		}

		.afficheUser li a:hover {
			background-color: #ddd;
		}

form.adminForm {
	margin-top: 50px;
	padding: 15px;
	border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

form.expoForm {
	width: 90%;
	/*height: 400px;*/
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px;
	/*text-align: center;*/
	background-color: #fff;
}

		.adminForm label, .expoForm label {
			display: inline-block;
			text-align: left;
			width: 200px;
			font-size: 16px;
			color: black;
		}
		.adminForm input, .expoForm input {
			width: 200px;
			padding: 5px;
			margin: 20px;
			border: none;
			border-bottom: 1px solid #0A2675;
			background-color: #fff;
		}


		.expoForm .submit {
			border-top: 3px solid #0A2675;
		}
		
		.expoForm fieldset {
			border: none;
			display: inline-block;
			vertical-align: top;
			min-height: 500px;
			margin: 0 10px;
			width: 40%;
			padding: 0 20px;
			text-align: left;
			margin: 20px;
		}

		.list-button-expo {
			position: absolute;
			top:350px;
			left: 55%;
		}

		.expoForm fieldset.expo-cpl {
			border-left: 3px solid #eee;
		}

		.expoForm .langues label {
			width: 15px;
			margin-right: 3px;
			margin-top: 10px;
		}
		.expoForm input[type="checkbox"] {
			width: 20px;
			margin: 0;
			margin-right: 10px;
			
		} 

		.expoForm button {
			display: inline-block;
		}

		.expoForm .submit {
			padding: 10px;
		}

		.expoForm button {
			margin: 10px;
			padding:5px 15px;
		}



/*<<<<<<<<<<<<<<<<  PLAN >>>>>>>>>>>>>>*/

.plan {
	position: relative;
	width: 90%;
	/*height: auto;*/
	margin: 0px auto;
	font-size: 16px;
}

	.plan img {
		width: 100%;
		height: auto;
	}

	#default-place {
		visibility: hidden;
	}

	.emplacement {
		position: absolute;
		/*width:1.76%; 
		height:5%;*/ 
		width: 2.3232%;
		height: 6.6%;
		border: 1px solid black;
		background-color: #0A2675;
		
	}

	.emplacement:hover {
		cursor: move;
	}

	.oeuvre-place {
		width: 100%;
		height: 100%; 			
	}


	.emplacement-handle {
		/*content: '';*/
		visibility: hidden;
		position: absolute;
		top:-18px;
		right:-18px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		line-height: 20px;
		background-color: #09E32F;
		color: #fff;
		text-align: center;
		font-size: 0.8em;
	}


	.emplacement-handle:hover {
		cursor: move;
	}

	
	.deletePlace {
		visibility: hidden;
		position: absolute;
		top:-18px;
		right:-38px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		line-height: 20px;
		background-color: #09E32F;
		color: #fff;
		text-align: center;
		font-size: 0.8em;
		cursor: pointer;
	}

	

	

	
	.addPlace {
		position: absolute;
		left: 60px;
		top: 10px;
		width: 6%;
		height: 15%;
		line-height: 15%;
		border-radius: 100%;
		text-align: center;
		
	}


	.addPlace button {
		outline: none;
		text-align: center;
		border: none;
		background-color: transparent;
		font-size: 2em;
		color: #0A2675;
	}
	.addPlace button:hover {
		color: #1246D9;
		cursor: pointer;
	}

	.trash {
		position: absolute;
		line-height: 15%;
		font-size: 2em;
		top: 10px;
		left: 10px;
		width: 6%;
		height: 15%;
		border-radius: 100%;
		text-align: center;
		color: #0A2675;
	}
		.dropArea { 
			background-color: #fff 
		}
		.dropAreaHover { 
			background-color: #0A2675; 
			color:#fff; 
		}



/*>>>>>>>>>>>>>>>>  LISTES >>>>>>>>>>>>>>>>*/	


.list {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	font-size: 16px;
}
	
	
	.cards {
		padding: 20px;
		text-align: center;
	}
		.contain-cards {
			background-color: #ddd;
			padding-bottom: 10px;
		}
			.cards ul {
				list-style: none;
				background-color: #ddd;
				min-height: 250px;
				max-height: 250px;
				overflow: auto;
			}

		.iconCard {
			display: flex;
			justify-content: space-around;
			margin-top: 5px;
			padding-top: 5px;
			text-align: center;
			background-color: #ddd;
			height: 20px;
			color: #000;
		}
			
			.iconCard i {
				display: inline-block;
				color: #333;
				padding: 0 10px;

			}
			.iconCard i:hover {
				cursor: pointer;
			}

			.cards li {
				height: 70px;
				margin: 10px;
				background-color: #fff;
				padding: 5px;
			}
				.portlet {
					
				}
				.portlet-content {
					display: flex;
					flex-direction: row-reverse;
					align-items: flex-start;
					justify-content: space-between;
					height: 60px;
					padding: 5px;
					/*padding: 10px;*/
				}
				.portlet-content:hover {
					background-color: #ddd;
				}

					.portlet .titre {
						position: relative;
						text-transform : capitalize;
					}
					
				.cards li img {
					float: left;
					position: relative;
					z-index: 1;
					width: 50px;
					height: 50px;
				}

				.recue img:hover {
					border: 2px solid red;
				}

			.cards li:hover {
				cursor: pointer;
			}

/*>>>>>>>>>>>>>>>>  POPUP ET FORMULAIRES >>>>>>>>>>>>>>>>*/	

.expo-content {
	position: relative;
}

	

		.list-button-expo li {
			display: inline-block;
			margin: 5px;
		}

			.list-button-expo button, button[type="submit"] {
				padding:5px 15px;
			}

.popAddCard, .popAddRecue, .popAddArtiste, .popAddOeuvrePrevue, .popAddOeuvreRecue {
	position: absolute;
	z-index: 2;
	top: 10%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	height: 300px;
	padding: 20px;
	background-color: #333;
	opacity: 0.8;
	color #fff;
	display: none;
	font-size: 16px;
	text-align: center;
}
	.popAddArtiste span, .popAddArtiste label, .popAddArtiste i, .popAddCard span, .popAddCard label, .popAddCard i, .popAddRecue span, .popAddRecue label,.popAddRecue i {
		color: #fff;
	}

/*.popAddOeuvrePrevue {
	display: none;
	background-color: #fff;
}*/

	.create {
		color: #fff;
	}

	.closeButton, .closeButton-context {
		position: absolute;
		z-index: 6;
		top: -15px;
		right: -15px;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		font-size: 1.5em;
		/*margin-top: -20px;
		margin-right: -10px;*/
		
		border-radius: 2em;
		color: #fff;
		background-color:#0A2675; 
	}
	.closeButton:hover, .closeButton-context:hover {
		cursor: pointer;
	}
	.popAddCard i:hover {
		cursor: pointer;
	}
.popGestionCard, .popGestionCard-artiste, .popGestionCard-collectif {
	position: absolute;
	z-index: 5;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 300px;
	/*overflow: auto;*/
	background-color: #ddd;
	display: none;
}

	
.confirmPopup {
	display: none;
	position: absolute;
	z-index: 4;
	top: 40%;
	left: 40%;
	padding: 20px;
	background-color: #333;
	opacity: 0.8;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
	.confirmPopup span {
		margin-bottom: 15px;
		display: block;
	}
	/*>>>>>>>>>>>>>>>>  INFO CARTES >>>>>>>>>>>>>>>>*/	
.context-overlay {
	display: none;
	position: absolute;
	background-color: #333;
	opacity: 0.7;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.context-overlay:hover {
	cursor: pointer;
}
.context-menu {
	display: none;
	/*visibility: hidden;*/
	position: absolute;
	left: 50%;
	top: -110px;
	margin-left: -300px;
	z-index: 3;
	width: 600px;
	/*min-width: 500px;*/
	/*min-height: 550px;*/
	background-color: #ddd;
	color: #333;
	font-size: 16px;
	text-align: left;
}
.context-menu:hover {
	cursor: default;
}
	.context-menu ul {
		min-height: auto;
		max-height: 310px;
		margin: 10px 0 20px 0;
		padding: 10px 0;
	}
	.context-menu li {
		background-color: transparent;
		height: auto;
		margin: 0;
		/*list-style: none;*/
	}
	.context-menu li:hover {
		cursor:default;
	}
	.context-menu img {
		width: 100px;
		height: 100px;
	}
	.context-menu img:hover {
		border: none;
	}
	.context-menu button {
		min-width: 180px;
		padding: 8px 15px;
	}
	.card-header {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 20px;
		border-bottom: 4px solid #ccc;
		text-align: center;
		text-transform : capitalize;
	}
		.card-header .card-title span {
			display: block;
			padding: 10px 0 ;
			font-size: 14px;
		}
		.cardHeader-bottom {
			width: 100%;
			position: absolute;
			bottom: 0;
			font-size: 14px;
		}
		.cardHeader-bottom span {
		 	display: inline;

		}
	.card-content {
		display: flex;
		align-items: flex-start;
		max-height: 600px;
		/*padding: 20px;*/

	}
	
		.card-col {
			display: flex;
			flex-direction: column-reverse;
			/*justify-content: space-around;*/
			align-items: space-around;
			padding: 20px;
		}
		
			.card-col.card-info {
				/*justify-content: flex-start;*/
			}
			.col-item {
				/*border: 1px solid black;*/
			}

				.card-image img {
					width: 100px !important;
					height: 100px !important;
				}

				.qr-zone img {
					width: 100px !important;
					height: 100px !important;
				}
			.card-action #list-button {
				
			}
				.button-msg {
					position: relative;
				}
					.nbMsg {
						position: absolute;
						right: -5px;
						top: -5px;
						width: 20px;
						height: 20px;
						line-height: 20px;
						border-radius: 20px;
						background-color: red;
					}
			#list-info {
				font-size: 14px;
			}
			ul#list-info {
				min-height: auto;
				max-height: 150px;
				overflow: auto;
				margin-top: 0;

			}
			#list-info > li {
				
			}
				.col-item h4 {
					text-align: center;

				}
				.list-oeuvre-artiste .li-oeuvre-artiste {
					margin-bottom: 10px;
					border-bottom: 2px solid #ccc;
					padding-bottom: 10px;
					background-color: #fff;
				}
					li.li-oeuvre-artiste:hover {
						background-color: #ccc;
						cursor: pointer;
					}
				.oeuvreArtiste {
					/*position: relative;*/ /*supprimé pour faire marcher le chargement du include popOeuvre*/
					float: right;
					/*display: inline-block;*/
					vertical-align: top;
					margin-top: -20px;
					text-align: right;
				}
					.delOeuvreArtiste {
						min-width: 30px;
						font-size: 15px;
						padding: 7px;
					}
			

				
			.card-col.card-form {
			flex-grow: 1;
			}
				.card-form .form-oeuvre div, .card-form .form-artiste div, .card-form .form-collectif div {
					padding: 10px 0;
				}

				.card-form label {
					display: inline-block;
					width: 80px;
				}
				.card-form input {
					height: 40px;
					min-width: 230px;
					border: none;
					border-radius: 5px;
					padding: 10px;
					box-shadow: 1px 1px 1px #666;
				}
				.card-form textarea {
					border: none;
					width: 320px;
					margin-top: 10px;
					border-radius: 5px;
					padding: 10px;
					box-shadow: 1px 1px 1px #555;
				}
				.card-form .submit { 
					text-align: center;
				}

	.pop-messagerieOeuvre,.pop-messagerieArtiste, .pop-messagerieCollectif {
		margin-top: -250px;
		height: auto;
		width: 400px;
	}

		.card-msg {
			overflow: auto;
			max-height: 300px;
		}

			.message {
				width: 90%;
				margin: 20px;
				border-radius: 7px;	
				background-color: #fff;
				box-shadow: 0 3px 0 #ccc;

			}
				.message-header {
					font-size: 14px;
					padding: 5px 0;
					font-weight: bold;
					background-color: #ddd;
				}

				.delMsg {
					font-size: 12px;
					padding-left: 5px;
				}
				.delMsg a:hover {
					cursor: pointer;
					color: red;
				}

				.message-content {
					padding: 20px;
				}

				.newMsg {
					border-top: 4px solid #ccc;
					display: block;
					padding: 20px;
					width: 100%;
				}

	.pop-metaData {
		margin-top: -250px;
		height: auto;
		width: 400px;
	}
	.pop-modifColl {
		margin-top: -250px;
		height: auto;
		width: 400px;
	}	

		.card-data, .card-communaute {
			overflow: auto;
			max-height: 300px;
			padding: 10px;
		}
			.card-data ul, .card-communaute ul {
				overflow: hidden;
				padding: 0;
				margin: 0;
			}
			li.metaData, li.comInfo {
				position: relative;
				display: block;
				padding: 20px 0;
				border-bottom: 2px solid #ccc;
			}

			li.comInfo {
				padding: 40px 0 ;
			}

			button.delData, button.delColl {
				position: absolute;
				right: 10px;
				top: 25%;
				min-width: 48px;
				margin-top: 5px;
				font-size: 24px;
			}


		.newData, .newCommunaute {
			border-top: 4px solid #ccc;
			padding: 20px;
		}
			.newData span, .newCommunaute span {
				display: block;
				text-align: center;
				padding: 10px;
			}



	.deleteCard {
		position: absolute;
		font-size: 2em;
		color: #333;
		bottom: 20px;
		right: 20px;
		text-align: center;
	}
		.deleteCard span {
			font-size: 12px;
			display: block;
			padding-left: 5px;
		}
	.deleteCard:hover {
		cursor: pointer;
	}


/*<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>*/

@media all and (max-width: 850px) {
	header {
		margin-top: 80px;
		font-size: 16px;
		margin-left: 0;
	}

	.container {
		width: 100%;
		left: 0;
		
	}

		.onglet-content {
			text-align: center;
		}
	
	.sideBar * {
		margin: 0;
		padding: 0;

	}
	.sideBar {
		flex-direction: row;
		position: absolute;
		/*z-index: 3;*/
		width: 100%;
		height: 80px;
		font-size: 0;
	}

		.homeLogo {
			position: absolute;
			top: 0;
			left: 30px;
			padding-bottom: 30px;
			padding-top: 10px;
			font-size: 48px;
		}

		.addLogo {
			position: absolute;
			top: 0;
			right: 30px;
			padding-bottom: 30px;
			padding-top: 10px;
			font-size: 48px;
		}

			.context-add {
				top: -100%;
				left: -131px;
				margin-top: -17px;
			}
			.context-add-visible {
				top: 100%;
			}

		.flecheVert {
			display: none;
		}
		.flecheHor {
			display: inline-block;
			/*margin-top: 15px;*/
			font-size: 42px;
			line-height: 70px;
			padding: 0 20px;
		}

		.sideMenu {
			width: 50%;
			display: inline-block;
			height: 80px;
			
			
		}
			.multiple-items {
				height: 80px;
				margin-top: 3px;

			}


			.sideMenu ul {
				height: 80px;
			}
			.sideMenu li {
				text-align: center;
				display: inline-block;
				padding: 0;
				vertical-align: middle;

			}

			.sideMenu li a {
				/*display: inline-block;*/
				padding: 15px 15px;
				overflow: hidden;
				vertical-align: middle;
				/*height: 100px;*/
				font-size: 12px;
				
			}

			a.active-expo {
				display: block;
				background-color: #fff;
				color: #444;
			}

			
		
			/*.addLogo a.add {
				display: none;
				
			}
*/
	.menu-portrait {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 0;
	}

		.searchMenu {
			display: inline-block;
			width: 50%;
			height: 80px;
			background-color: #444;
			color: #fff;
			line-height: 80px;
			text-align: center;
			font-size: 42px;
			border-right: 1px solid #fff;
		}

		.addMenu {
			display: inline-block;
			width: 50%;
			height: 80px;
			line-height: 80px;
			text-align: center;
			background-color: #444;
			color: #fff;
			font-size: 42px;
		}
	
	/*.cards ul {
		min-height: 310px;
		max-height: 310px;
	}*/

	.context-artiste .cards ul {
		min-height: 200px;
		max-height: 200px;
	}
	.down-content {
		/*margin-top: 20px;*/
	}
	.context-menu {
		top: -70px;
	}

	
}


@media all and (min-width: 1200px) {
	
	.container {
		width: 90%;
		left: 10%;
		
	}
		header {
		height: 200px;
		font-size: 16px;
		margin-left: 0;
		}
		.avatar{
			position: relative;
			width: 120px;
			height: 120px;
			font-size: 2.5em;
			line-height: 120px;
		}

			.avatar span {
				top: -50px;
				font-size: 14px;
			}

		.onglet {
			top: -50px;
		}
			.onglet-content {
				text-align: center;
				top: 50px;
				padding-left: 7%;
				padding-right: 7%;
			}
				.onglet-title {
					width: 250px;
					height: 50px;
					line-height: 50px;
				}
				.iconCard {
					height: 50px;
					line-height: 50px;
					font-size: 2em;
				}

		.sideBar {
			width: 10%;
			font-size: 0;
		}
			.sideMenu {
				display: inline-block;
				font-size: 14px;
			}
				.sideMenu li a {
					padding: 40px 0px;
					/*vertical-align: middle;*/
					text-align: center;
					/*font-size: 16px;*/
				}

		.plan {
			width: 97%;
		}

		.context-menu {
			top: -110px;
		}
	
}
