@font-face{
    font-family : "Overpass";
    src : url('../fonts/Overpass/Overpass-Regular.ttf');
}

@font-face {
	font-family: 'Ionicons';
	src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Overpass,Arial,sans-serif;
}

.impression {
	display: none;
	font-size: 12px;
}


h3 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}

li,ul {
	list-style: none;
}

li {
	padding:5px
}

body {
	font-size: 0;
}

label {
	display: inline-block;
    max-width: 100%;
	color: #7c8795;
    margin-bottom: 0;
    font-size: .75rem;
    font-weight: 500;
    /*position: absolute;*/
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
}

select {
	position: relative;
	display: inline-block;
	width: 100%;
    height: 38px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 1px 0 transparent;
    padding: 6px 12px;
    color: #0A2675;
    font-weight: 300;
    margin: 5px;
}

.selectInput {
	position: relative;
}
.selectInput:after {
	content: "";
	position: absolute;
	top: 35px;
	right: 10px;
	 border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #7c8795;
    pointer-events: none;

}


input {
	width: 100%;
    height: 38px;
    padding: 8px 12px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 1px 0 transparent;
    padding: 6px 0;
    color: #0A2675;
    font-weight: 300;
    outline: none;
}

input[type="checkbox"] {
	border: 1px solid #ccc;
	width: 15px;
	height: 15px;
	-webkit-appearance: checkbox;
	
}
input[type="checkbox"]:focus {
	outline: 1px solid #7c8795;
}

textarea {
	border-color: #ccc;
	width: 320px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 10px;
	color: #0A2675;
	resize: none;
}

.submit {
	border-top: 3px solid #0A2675;
	text-align: center;
	padding-top: 10px;
}

button, button.button, a.button {
	background-color: #0A2675;
	color: #fff;
	/*min-width: 180px;*/
	padding: 5px 15px;
	border: none;
	outline: none;
	border-radius: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

}

button:hover, button.button:hover, a.button:hover {
	cursor: pointer;
	background-color: #eee;
	color: #0A2675;

}

span.title {
	display: block;
	font-size: 24px;
	padding-top: 15px;
	text-align: center;
}


.container {
	position: absolute;
	z-index: -1;
	bottom: 0;
	top: 0px;
	left: 15%;
	right: 0;
	display: inline-block;
	width: 85%;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;

}

.overlay {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #333;
	opacity: 0.7;
	overflow: auto;
}
.overlay:hover {
	cursor: pointer;
}


/*<<<<<<<<<<<<<<<<  HEADER >>>>>>>>>>>>>>*/
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 16px;
	height: 130px;
	background-color: #eee;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

	.confirmSet {
		display: none;
	    position: absolute;
	    z-index: 10;
	    width: 400px;
	    height: 50px;
	    line-height: 50px;
	    left: 50%;
	    top: 50%;
	    margin-left: -200px;
	    margin-top: -25px;
	    background-color: #fff;
	    color:  #0A2675;
	    text-transform: uppercase;
	    text-align: center;
	}
	.avatar	{
		position: relative;
		float: left;
		width: 80px;
		height: 80px;
		background-color: #0A2675;
		color: #fff;
		font-size: 24px;
		text-align: center;
		line-height: 80px;
	}


			.avatar span {
				width: 100%;
				height: auto;
				display: block;
				position: absolute;
				top: -30px;
				left: 0px;
				font-size: 12px;
			}

		.logo-out {
			position: absolute;
			display: block;
			font-size: 1.2em;
			top: 28px;
			bottom: 0;
			right: 3px;
			
		}

	.timeLine {
		padding-top: 20px;
		padding-right: 20px;
	}

		.timeLine ul li {
			padding: 10px;
		}
		.timeLine ul li span {
			width: 250px;
		}

	.expoInfo {
	}
		.logo-accueil {
			width: 120px;
			height: 100px;
		}

		.accueil-titre {
		  display: inline-block;
		  vertical-align: top;
		  text-align: center;
		  margin-top: 30px;
		  font-weight: 300;
		  text-transform: uppercase;
		  color: #0A2675;

		}
		.expoInfo h2 {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.expoInfo span {
			/*display: block;*/
		}
		
		.printer {
			display: inline-block;
			margin-left: 15px;

		}
		.printer i {
			font-size: 3em;
			padding: 20px 15px;
		}
/*<<<<<<<<<<<<<<<<  MENUEXPO >>>>>>>>>>>>>>*/
	.sideBar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		vertical-align: top;
		font-size: 16px;
		width: 15%;
		background-color: #444;
		color: #fff;
		text-align: center;

	}

		

		.homeLogo {
			display: block;
			font-size: 4em;
			padding-bottom: 30px;
		}
		.homeLogo i:hover {
			cursor:pointer;
		}

		.sideMenu {
			
		}

			.flecheHor {
				display: none;
			}
			.flecheVert {
				width: 40px;
				height: 40px;
				font-size: 4em;
			}

			.flecheHor:hover {
				cursor: pointer;
			}
			.flecheVert:hover {
				cursor: pointer;
			}
			

				.sideMenu li {
					padding: 30px 0 ;
				}

			.link-active {
				background-color: #bbb;

			}
			a.active-expo {
				display: block;
				padding: 20px 0;
				background-color: #fff;
				color: #444;
			}

			
			.addLogo  {
				position: relative;
				display: block;
				font-size: 4em;
				padding-top: 40px;

			}
			.addLogo i:hover {
				cursor:pointer;
			}

				.context-add {
					position: absolute;
					text-align: left;
					z-index: -1;
					top: -45px;
					left: -100%;
					width: 210px;
					font-size: 16px;
					background-color: rgba(0,0,0,0.7);
					color: #fff;
					transition: all 0.5s ease-out;
				}

					.context-add-visible {
						left: 100%;
					}

					.context-add span {
						display: block;
						padding: 7px;
					}

					.context-add span:hover {
						cursor: pointer;
						background-color: #ccc;
						color: #333;
					}


/*<<<<<<<<<<<<<<<<  ONGLETS >>>>>>>>>>>>>>*/
.content {
	position: relative;
	top: 0;
	bottom: 100px;
}
.onglet	{
	position: relative;
	top: -30px;
}

	.onglet-title {
		float: left;
		width: 150px;
		height: 30px;
		line-height: 30px;
		color: #fff;
		background-color: #0A2675;
		text-align: center;
		border-left: 1px solid #fff;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

	}
		.onglet-title i {
			margin-right: 5px;
			font-size: 1.2em;
		}
	.onglet-title:hover {
		cursor: pointer;
		background-color: #fff;
		color: #0A2675;
		border-left: 1px solid #0A2675;
		box-shadow: none;
	}
	.onglet:first-child {
		border: none;
	}
	.onglet-actif .onglet-title {
		background-color: #fff;
		color: #0A2675;

	}

	.onglet-content {
		position: absolute;
		top: 30px;
		width: 100%;
		display: none;
		font-size: 0;


	}


	.onglet-actif .onglet-content {
		display: block;
	}
		
		

/*<<<<<<<<<<<<<<<<  STATISTIQUES >>>>>>>>>>>>>>*/
.stat {
	font-size: 0px;
	padding: 20px;
}
	.stat-content {
		padding-top: 30px;
		font-size: 16px;
		text-align: center;
	}
		
	h2.nbVisite {
		padding: 15px;
		color: #0A2675;
	}

	.nbVisite span {
		
	}

	.list-stat {
		padding: 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		
	}
		.stat-oeuvre {
			flex-basis: 200px;
			vertical-align: middle;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
			margin: 15px;
			padding: 15px;
		}

			.stat-oeuvre h4 {
				padding: 5px;
				color: #0A2675;
			}

			img.imgStat {
				width: 100px;
				height:100px;
				border-radius: 100px;
				border: 3px solid #ccc;
			}
			span.nbVue {
				display: block;
				padding: 5px;
				margin-top: 5px;
				font-size: 1em;
				color: #0A2675;
			}
		/*.explain {
			font-size: 16px;
			display: inline-block;
			vertical-align: top;
			width: 75%;
			text-align: left;
			padding: 15px;

		}*/
/*<<<<<<<<<<<<<<<<  EXPO / ADMIN >>>>>>>>>>>>>>*/


/*BOUGE TOUT EN baS JE NE CCOMPREND PAS CE QUI ECRASE CE STYLE*/
.containerAdmin {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}


	.adminItem {
		margin: 20px;
		min-height: 510px;
	}

	#admin .onglet-content, #expo .onglet-content {
		text-transform: uppercase;
	    font-size: 16px;
	    font-weight: 300;
	    color: #0A2675;
	}

	.afficheUser {
		font-size: 16px;
		flex-basis: 35%;
		margin-top: 50px;
		background-color: #fff;
		
		border-radius: 2px;
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    	overflow-y: auto;
    	padding: 15px;
	}



		.afficheUser li a {
			text-transform: capitalize;
			display: block;
			color: #333;
			padding: 15px;
		}

		.afficheUser li a:hover {
			background-color: #ddd;
		}

form.adminForm {
	flex-basis: 35%;
	margin-top: 50px;
	/*min-height: 500px;*/
	padding: 15px;
	border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}


form.expoForm {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	background-color: #fff;
}		
		.adminForm div, .expoForm div {
			position: relative;
			margin-top: 15px;
		}

		.adminForm label {
			text-align: left;
		}

		
		fieldset.expoField {
			border: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			width: 40%;
			padding: 0 10px;
			text-align: left;
		}

		.list-button-expo {
			text-align: center;
		}

		fieldset.expo-cpl {
			border-left: 3px solid #eee;
		}

		label.labelLn {
			width: 15px;
			margin-right: 3px;
			margin-top: 10px;
		}
		.expoForm input[type="checkbox"] {
			width: 20px;
			margin: 0;
			margin-right: 10px;
			
		} 
		
		.adminForm button {
			margin-top: 10px;
		}

		#delUser {
			background-color: transparent;
			box-shadow: none;
			color: #0A2675;
			
		}
		
		#delUser i {
			font-size: 2em;
		}

		#delUser span {
			display: inline-block;
			line-height: 2em;
			margin-left: 10px;
		}

		.expoForm button {
			display: inline-block;
		}

		.expoForm button {
			margin: 10px;
			padding:5px 15px;
		}



/*<<<<<<<<<<<<<<<<  Doc >>>>>>>>>>>>>>*/
.docUtils {
	width: 100%;
	min-height: 680px;
	margin: 0 auto;
	text-align: center;
}

	.responsive-object iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

	.responsive-object {
	  position: relative;
	  padding-bottom: 67.5%;
	  height: 0;
	  margin: 10px 0;
	  overflow: hidden;
	}

/*<<<<<<<<<<<<<<<<  Recherche >>>>>>>>>>>>>>*/

#search .onglet-content {
	padding-top: 20px;
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    color: #0A2675;
}

	.searchForm {
		width: 400px;
		margin: 0 auto;
		margin-top: 50px;
		padding: 40px;
		border-radius: 2px;
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	}
		.inputSaisie {
			position: relative;
			margin-top: 25px;
		}

			.inputSaisie button[type="submit"] {
				/*width: 0;*/
				/*height: 1px;*/
				/*padding: 0;*/
				box-shadow: none;
				background-color: transparent;
				font-size: 2em;
				color: #7c8795;

			}
			.btn-label{
				font-size: 0;
				/*height: 1px;*/
				/*overflow: hidden;*/
				/*display: block;*/
			}

			.inputSaisie i {
				font-size: 1em;
				display: inline-block;
				position: absolute;
				top: 15px;
				color: #7c8795;
			}

			.inputSaisie i:hover {
				cursor: pointer;
			}

		.inputSaisie input:focus {
			outline:none;
		}

	.searchResult {
		margin-top: 20px;
		padding: 20px 80px;
		text-align: center;
		max-height: 200px;
		overflow: auto;
		border-top: 3px solid #0A2675;
		border-bottom: 3px solid #0A2675;
	}

		.searchResult ul {
			font-size: 16px;
			text-align: left;
		}

		.searchResult a {
			display: block;
			color:  #0A2675;
			padding: 5px;
		}

		.searchResult a:hover {
			cursor: pointer;
			background-color: #ccc;
		}

		.searchPop {
			display: block !important;
		}

/*<<<<<<<<<<<<<<<<  PLAN >>>>>>>>>>>>>>*/
.gestionPlan {
	padding-left: 20px;
	padding-right: 20px;
}
.plan {
	position: relative;
	/*width: 90%;*/
	width: 100%;
	margin: 0px auto;
	font-size: 16px;
}

	.plan img {
		width: 100%;
		height: auto;
	}

	#default-place {
		visibility: hidden;
	}

	.emplacement {
		position: absolute;
		width: 2.3232%;
		height: 6.6%;
		border: 1px solid black;
		background-color: #0A2675;
		
	}

	.emplacement:hover {
		cursor: move;
	}

	.oeuvre-place {
		width: 100%;
		height: 100%; 			
	}

	.numEmplacement {
		visibility: hidden;
	}

	/*.emplacement-handle {
		visibility: hidden;
		position: absolute;
		top:-18px;
		right:-18px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		line-height: 20px;
		background-color: #09E32F;
		color: #fff;
		text-align: center;
		font-size: 0.8em;
	}

	.emplacement-handle:hover {
		cursor: move;
	}*/
	
	/*.deletePlace {
		visibility: hidden;
		position: absolute;
		top:-18px;
		right:-18px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		line-height: 20px;
		background-color: #09E32F;
		color: #fff;
		text-align: center;
		font-size: 0.8em;
		cursor: pointer;
	}
	
	.addPlace {
		position: absolute;
		left: 60px;
		top: 10px;
		width: 6%;
		height: 15%;
		line-height: 15%;
		border-radius: 100%;
		text-align: center;
		
	}

	.addPlace button {
		outline: none;
		text-align: center;
		border: none;
		background-color: transparent;
		font-size: 2em;
		color: #0A2675;
		box-shadow: none;
	}
	.addPlace button:hover {
		color: #1246D9;
		cursor: pointer;
	}*/

	.trash {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 6%;
		height: 15%;
		line-height: 15%;
		border-radius: 100%;
		text-align: center;
		color: #0A2675;
	}
		.trash i {
			display: inline-block;
			font-size: 2em;
			margin-top: 5px;
		}
		.dropArea {
			color: #fff;
			/*font-size: 1.5em;*/
			/*background-color: #fff */
		}
		.dropAreaHover { 
			background-color: #0A2675; 
			color:#fff; 
		}



/*>>>>>>>>>>>>>>>>  LISTES >>>>>>>>>>>>>>>>*/	


.list {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	font-size: 16px;
}
	
	
	.cards {
		padding: 20px;
		text-align: center;
	}
		.contain-cards {
			background-color: #ddd;
			padding-bottom: 10px;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2);
		}



			.cards ul {
				list-style: none;
				background-color: #ddd;
				min-height: 250px;
				max-height: 250px;
				overflow: auto;
			}

			.cards ul#list-info, .cards ul#list-button {
				background-color: #fff;
			}

		.iconCard {
			display: flex;
			justify-content: space-around;
			margin-top: 5px;
			padding-top: 5px;
			text-align: center;
			background-color: #ddd;
			height: 20px;
			color: #000;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2);
		}
			
			.iconCard i {
				display: inline-block;
				color: #333;
				padding: 0 10px;

			}
			.iconCard i:hover {
				cursor: pointer;
			}

			.cards li {
				height: 70px;
				margin: 10px;
				background-color: #fff;
			}
				.portlet {
					box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
				}
				.portlet-content {
					display: flex;
					flex-direction: row-reverse;
					align-items: flex-start;
					justify-content: space-between;
					height: 60px;
					padding: 5px;
					/*padding: 10px;*/
				}
				.portlet-content:hover {
					background-color: #ddd;
				}

					.portlet .titre {
						position: relative;
						text-transform : capitalize;
					}
					
				.cards li img {
					float: left;
					position: relative;
					z-index: 1;
					width: 50px;
					height: 50px;
				}

				.recue img:hover {
					border: 2px solid red;
				}

				.recue .img {
					position: relative;
				}
				.recue .img:after {
					font-family: "Ionicons";
        			content: "\f2e3";
					position: absolute;
					z-index: 1;
					left: 45px;
					top: -10px;
					color: #0A2675; 
				
				}

				.recue span.retard {
					display: none;
				}

			.cards li:hover {
				cursor: pointer;
			}

/*>>>>>>>>>>>>>>>>  POPUP ET FORMULAIRES >>>>>>>>>>>>>>>>*/	

.expo-content {
	position: relative;
}

		.list-button-expo li {
			display: inline-block;
			margin: 5px;
		}


.popAddCard, .popAddRecue, .popAddArtiste, .popAddOeuvrePrevue, .popAddOeuvreRecue {
	position: absolute;
	z-index: 2;
	top: 10%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	height: 300px;
	padding: 20px;
	background-color: #fff;
	opacity: 0.9;
	color #7c8795;
	display: none;
	font-size: 16px;
	text-align: center;
}

	.notExist {
		margin-top: 50px;
		color: #7c8795;
	}

	.notExist span {
		display: block;
		margin: 10px;
	}

	.create {
		
	}

	.closeButton, .closeButton-context {
		position: absolute;
		z-index: 6;
		top: -15px;
		right: -15px;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		font-size: 1.5em;
		border-radius: 2em;
		color: #fff;
		background-color:#0A2675; 
	}
	.closeButton:hover, .closeButton-context:hover {
		cursor: pointer;
	}
	.popAddCard i:hover {
		cursor: pointer;
	}
.popGestionCard, .popGestionCard-artiste, .popGestionCard-collectif {
	position: absolute;
	z-index: 5;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 300px;
	background-color: #fff;
	border-radius: 2px;
	padding: 15px;
	display: none;
}

	
.confirmPopup, .confirmPopup-type {
	display: none;
	position: absolute;
	z-index: 4;
	top: 40%;
	left: 50%;
	margin-left: -200px;
	padding: 20px;
	background-color: #fff;
	opacity: 0.8;
	color: #0A2675;
	text-align: center;
	font-size: 16px;
}
	.confirmPopup span, .confirmPopup-type span {
		margin-bottom: 15px;
		display: block;
	}

.context-type {

}
	.context-type a{
		color: #0A2675; 
	}

	.afficheType {
		max-height: 250px;
		overflow: auto;
	}

	.typeForm {
		border-top: 3px solid #ccc;
	}

	.typeForm .submit {
		min-height: 100px;
	}

	.typeForm div {
		padding: 20px;
	}



	/*>>>>>>>>>>>>>>>>  INFO CARTES >>>>>>>>>>>>>>>>*/	

.context-overlay {
	display: none;
	position: absolute;
	background-color: #333;
	opacity: 0.7;
	z-index: 4;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.context-overlay:hover {
	cursor: pointer;
}
.context-menu {
	display: none;
	position: absolute;
	left: 50%;
	top: -110px;
	margin-left: -300px;
	z-index: 3;
	width: 600px;
	background-color: #fff;
	color: #333;
	font-size: 16px;
	text-align: left;
	border-radius: 3px;
}
.context-menu:hover {
	cursor: default;
}
	.context-menu ul {
		min-height: auto;
		max-height: 310px;
		margin: 10px 0 20px 0;
		padding: 10px 0;
	}
	.context-menu li {
		background-color: transparent;
		height: auto;
		margin: 0;
	}
	.context-menu li:hover {
		cursor:default;
	}
	.context-menu img {
		width: 100px;
		height: 100px;
	}
	.context-menu img:hover {
		border: none;
	}
	.context-menu button {
		min-width: 180px;
		padding: 8px 15px;
	}
	.card-header {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 20px;
		border-bottom: 4px solid #ccc;
		text-align: center;
		text-transform : capitalize;
	}
		.card-header .card-title span {
			display: block;
			padding: 10px 0 ;
			font-size: 14px;
		}
		.cardHeader-bottom {
			width: 100%;
			position: absolute;
			bottom: 0;
			font-size: 14px;
		}
		.cardHeader-bottom span {
		 	display: inline;

		}

		.coll-artiste {
			text-align: left;
		}

	.card-error {
		position: absolute;
		padding: 2px 5px;
		top: -10px;
		left: 80px;
		font-size: 11px;
		border-radius:2px;
		background-color: #A5272B;
		opacity: 0.8;
		color: #fff;
	}
	.card-content {
		display: flex;
		align-items: flex-start;
		max-height: 600px;
	}
	
		.card-col {
			display: flex;
			flex-direction: column-reverse;
			align-items: space-around;
			padding: 20px;
		}
				.card-image img {
					width: 100px !important;
					height: 100px !important;
				}

				.qr-zone img {
					width: 100px !important;
					height: 100px !important;
				}
			.card-action #list-button {
				
			}
				.button-msg {
					position: relative;
				}
					.nbMsg {
						position: absolute;
						right: -5px;
						top: -5px;
						width: 20px;
						height: 20px;
						line-height: 20px;
						border-radius: 20px;
						background-color: red;
					}
			#list-info {
				font-size: 14px;
			}
			ul#list-info {
				min-height: auto;
				max-height: 100px;
				overflow: auto;
				margin-top: 0;

			}

			ul#list-info.list-oeuvre-artiste {
				max-height: 150px;
			}
			#list-info > li {
				
			}
				.col-item h4 {
					text-align: center;

				}
				.list-oeuvre-artiste .li-oeuvre-artiste {
					margin-bottom: 10px;
					border-bottom: 2px solid #ccc;
					padding-bottom: 10px;
					background-color: #fff;
				}
					li.li-oeuvre-artiste:hover {
						background-color: #ccc;
						cursor: pointer;
					}
				.oeuvreArtiste {
					float: right;
					vertical-align: top;
					margin-top: -20px;
					text-align: right;
				}
					.delOeuvreArtiste {
						min-width: 30px;
						font-size: 15px;
						padding: 7px;
					}
			

				
			.card-col.card-form {
			flex-grow: 1;
			}
				.card-form .form-oeuvre div, .card-form .form-artiste div, .card-form .form-collectif div {
					position: relative;
					margin-top: 10px;
				}

	.pop-messagerieOeuvre,.pop-messagerieArtiste, .pop-messagerieCollectif {
		margin-top: -250px;
		height: auto;
		width: 450px;
	}

		.card-msg {
			overflow: auto;
			max-height: 300px;
		}

			.message {
				width: 95%;
				margin: 20px 5px;
				border-radius: 7px;	
				background-color: #fff;
				border: 1px solid #ccc;
				box-shadow: 0 3px 0 #ccc;
				padding:5px;
				text-transform: lowercase;

			}
				.message-header {
					font-size: 14px;
					padding: 5px 0;
					font-weight: bold;
					background-color: #fff;
					border-bottom: 1px solid #ccc;
				}

				.delMsg {
					font-size: 12px;
					padding-left: 5px;
				}
				.delMsg a {
					color: #ccc;
				}
				.delMsg a:hover {
					cursor: pointer;
					color: red;
				}

				.message-content {
					padding: 20px;
				}

				.newMsg {
					border-top: 4px solid #ccc;
					display: block;
					padding: 20px;
					width: 100%;
				}

	.pop-metaData {
		margin-top: -350px;
		height: auto;
		width: 400px;
	}
	.pop-modifColl {
		margin-top: -250px;
		height: auto;
		width: 400px;
	}	

		.card-data, .card-communaute {
			overflow: auto;
			max-height: 300px;
			padding: 10px;
		}
			.card-data ul, .card-communaute ul {
				overflow: hidden;
				padding: 0;
				margin: 0;
				background-color: #fff;
			}
			li.metaData, li.comInfo {
				position: relative;
				display: block;
				padding: 20px 0;
				border-bottom: 2px solid #ccc;
			}

			li.comInfo {
				padding: 40px 0 ;
			}

			button.delData, button.delColl {
				position: absolute;
				right: 10px;
				top: 25%;
				min-width: 48px;
				margin-top: 5px;
				font-size: 24px;
			}


		.newData, .newCommunaute {
			border-top: 4px solid #ccc;
			padding: 20px;
		}
			.newData span, .newCommunaute span {
				display: block;
				text-align: center;
				padding: 10px;
			}



	.deleteCard {
		position: absolute;
		font-size: 2em;
		color: #333;
		bottom: 20px;
		right: 20px;
		text-align: center;
	}
		.deleteCard span {
			font-size: 12px;
			display: block;
			padding-left: 5px;
		}
	.deleteCard:hover {
		cursor: pointer;
	}


/*<<<<<<<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>>*/

@media all and (max-width: 850px) {
	header {
		margin-top: 80px;
		font-size: 16px;
		margin-left: 0;
	}

	.container {
		width: 100%;
		left: 0;
		
	}	

		.onglet-title {
			width: 120px;
		}

		.onglet-content {
			text-align: center;
		}
	
	.sideBar * {
		margin: 0;
		padding: 0;

	}
	.sideBar {
		flex-direction: row;
		position: absolute;
		/*z-index: 3;*/
		width: 100%;
		height: 80px;
		font-size: 0;
	}

		.homeLogo {
			position: absolute;
			top: 0;
			left: 30px;
			padding-bottom: 30px;
			padding-top: 10px;
			font-size: 48px;
		}

		.addLogo {
			position: absolute;
			top: 0;
			right: 30px;
			padding-bottom: 30px;
			padding-top: 10px;
			font-size: 48px;
		}

			.context-add {
				top: -100%;
				left: -141px;
				margin-top: -21px;
			}
			.context-add-visible {
				top: 100%;
			}

		.flecheVert {
			display: none;
		}
		.flecheHor {
			display: inline-block;
			font-size: 42px;
			line-height: 70px;
			padding: 0 20px;
		}

		.sideMenu {
			width: 50%;
			display: inline-block;
			height: 80px;
			
			
		}
			.multiple-items {
				height: 80px;
				margin-top: 3px;

			}


			.sideMenu ul {
				height: 80px;
			}
			.sideMenu li {
				text-align: center;
				display: inline-block;
				padding: 0;
				vertical-align: middle;

			}

			.sideMenu li a {
				padding: 15px 15px;
				overflow: hidden;
				vertical-align: middle;
				font-size: 12px;
				
			}

			a.active-expo {
				display: block;
				background-color: #fff;
				color: #444;
			}

	.menu-portrait {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 0;
	}

		.searchMenu {
			display: inline-block;
			width: 50%;
			height: 80px;
			background-color: #444;
			color: #fff;
			line-height: 80px;
			text-align: center;
			font-size: 42px;
			border-right: 1px solid #fff;
		}

		.addMenu {
			display: inline-block;
			width: 50%;
			height: 80px;
			line-height: 80px;
			text-align: center;
			background-color: #444;
			color: #fff;
			font-size: 42px;
		}

	.context-artiste .cards ul {
		min-height: 200px;
		max-height: 200px;
	}

	.context-menu {
		top: -70px;
	}

	
}



@media all and (min-width: 1200px) {
	
	.container {
		width: 90%;
		left: 10%;
		
	}


		header {
		height: 200px;
		font-size: 16px;
		margin-left: 0;
		}
		.avatar{
			position: relative;
			width: 120px;
			height: 120px;
			font-size: 2.5em;
			line-height: 120px;
		}

			.avatar span {
				top: -50px;
				font-size: 14px;
			}

		.onglet {
			top: -50px;
		}
			.onglet-content {
				text-align: center;
				top: 50px;
				padding-left: 7%;
				padding-right: 7%;
			}
				.onglet-title {
					width: 250px;
					height: 50px;
					line-height: 50px;
				}
				.iconCard {
					height: 50px;
					line-height: 50px;
					font-size: 2em;
				}

		.sideBar {
			width: 10%;
			font-size: 0;
		}
			.sideMenu {
				display: inline-block;
				font-size: 14px;
			}
				.sideMenu li a {
					padding: 40px 0px;
					text-align: center;
				}

		.plan {
			/*width: 97%;*/
			width: 100%;
		}

		.context-menu {
			top: -110px;
		}
	
}
