@font-face{
	font-family : "Overpass";
	src : url('../fonts/Overpass/Overpass-Regular.ttf');
}
@font-face {
	font-family: 'Ionicons';
	src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal;

}

*,*:before,*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Overpass,Arial,sans-serif;
}

body{
	font-size: 0px;
	background-color: #eee;
}

a {
	text-decoration: none;
}
a:visited {
	color: #0A2640;
}

/*-------------------------------header---------------------*/
.header{
	position:fixed;
	top: 0;
	left:0;
	right: 0;
	padding: 10px;
	height: 60px;
	z-index: 2;
	background-color: #0A2675;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	transition: top 0.2s ease-in-out;
}


h1{
	font-size: 24px;
	letter-spacing: 5px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	color: #eee;
}
.date{
	position: absolute;
	display: inline-block;
	left: 10px;
	bottom: 0;
	font-size: 11px;
	margin: 0 0 3px 5px;
	color: #fff;
}




/*-------------------------main-------------------------*/
.main{
	position: relative;
	top: 60px;
	left: 0;
	right:0;
	bottom: 40px;
	overflow-y: scroll;
	font-size: 22px;
	background-color: #eee;

}
.drapeau{
	position: fixed;
	display: flex;
	top: 20px;
	right:5px;
	margin: 0 2px 2px 0;
	z-index: 5;
	transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -60px;
}
button{

	border:none;
	cursor: pointer;
	background-color: transparent;
	height: 24px;
	width: 32px;
	margin: 0px 3px 3px;
}
button img{
	height: 24px;
	width: 32px;
	border: 2px solid #ccc;
}
.drapeau li a{
	border:none;
	cursor: pointer;
	background-color: transparent;
	height: 24px;
	width: 32px;
	
}
#langueSelectionner{
	height: 24px;
	width: 32px;
	border: 2px solid #ccc;
	margin: 0px 3px 3px;
}

.bienvenue{
	padding: 20px;
	background-color: #eee;
	font-size: 18px;
	color: #0A2675;
	display: block;
	text-align: center;
}
.description{
	position: relative;
	display: flex;
	width: 100%;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
}

	a.readmore {
		display: inline-block;
		text-decoration: none;
		background-color: #0A2675;
		color: #fff;
		/*margin-top: 7px;*/
		margin-left: 5px;
		padding: 5px 10px;
		border-radius: 2px;
		line-height: 24px;
	}

	.more {
		display: none;
	}

.descriptif{

	background-color: #eee;
	font-size: 18px;
	color: #0A2675;
	padding: 20px;
	height: 100%;
}
.descriptif img{
	display:block;
	width: 100%;
	height: auto;
	/*width: 75%;
	max-height: 200px;
	max-width: 300px;*/
	margin: 0 auto;
}
.blockaffiche{
	margin-top: 20px;
	margin-left: 25px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.artiste,.oeuvre{
	vertical-align: top;
	display: flex;
	align-items: center;
	flex-grow: 2;
	flex-direction: column;
	/*flex-flow: column;*/
	background-color: #eee;
	font-size: 22px;
	padding: 20px;	
	height: 100%;
}
.oeuvre .oeuvre-descriptif {
	text-align: left;
}
/*.artisteimage ,.oeuvreimage{
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
*/
.artisteimage img ,.oeuvreimage img{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100x;
	height: 100px;
	border-radius: 100px;



	border:2px solid #ccc;
	box-shadow: 0px 0px 5px 2px  #bbb;
}
.presentation{
	flex-basis: 200px;
	background-color: #fff;
	margin: 22px;
	padding: 20px 0;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.oeuvre-title {
	color: #0A2675;
	padding: 10px;
	margin-bottom: 10px;
}

.meta {
	padding: 20px;
	margin: 20px 0;
	border-top: 2px solid #ccc;
}
.meta-intro {
	position: absolute;
	width: 100%;
	left: 0;
	top: -20px;
	padding: 10px;
	background-color: #fff;
	text-align: center;
}
.meta-title {
	text-align: center;
	margin-bottom: 10px;
}

.block ,.block{
	/*display: block;*/
	/*text-align: center;*/
	font-size: 18px;
	/*margin: 20px 0 0px 0;*/
	color: #0A2675;

}

.meta .block:first-child {
	margin-top: 20px;
}
.oeuvre .block {
	text-align: left;
	margin: 15px;
}
.main .selection{
	text-decoration: none;
	color: #000;
}

/*-----------------------------footer-----------------------*/
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0;
	z-index: 2;
	/*height: 50px;*/

}
.left{
	position: absolute;
	bottom: 0;
	left:0;
	right: 50%;
	text-align: center;
	height: 40px;
	font-size: 32px;
	background-color: #0A2675;
}
.right{
	position: absolute;
	bottom: 0;
	left:50%;
	right: 0;
	text-align: center;
	border-left: 1px solid #ccc;
	font-size: 32px;
	background-color: #0A2675;
	height: 40px;
}

.center{
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: #0A2675;

}
/*.footer  .center i {
	font-size: 32px;
}*/
.footer i{
	font-size: 22px;
}
.footer a{
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	width: 100%;

	color: #fff;
}

/*.footer .center a {
	padding: 4px 0;
}*/



